<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>solarcat网上商城-搜索失败</title>
</head>
<link href="css/all.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/404.css" />
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Plugins CSS -->
<link href="/css/plugins.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
<head></head>
<body>
	<div class="wrapper">
		<!-- header area start -->
		<div th:insert="~{header :: header}"></div>
		<!-- header area end -->
		<!-- breadcrumb area start -->
		<div class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb-wrap">
							<nav aria-label="breadcrumb">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="http://view.solarcat.cn/index">首页</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb area end -->
		<!-- page wrapper start -->
		<div class="page-main-wrapper">
			<div class="container">
				<div class="row">
					<!-- sidebar start -->
					<div class="col-lg-3 order-2 order-lg-1">
						<div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
							<!-- manufacturer start -->
							<div class="sidebar-widget mb-30">
								<div class="sidebar-title mb-10">
									<h3>通过分类继续查找</h3>
								</div>
								<div class="sidebar-widget-body">
									<ul>
										<li><i class="fa fa-angle-right"></i> <a href="#">像极了爱情</a></li>
										<li><i class="fa fa-angle-right"></i> <a href="#">像灿烂的烟火</a></li>
										<li><i class="fa fa-angle-right"></i> <a href="#">嘣——的一声</a></li>
										<li><i class="fa fa-angle-right"></i> <a href="#">你的前女友就炸了</a></li>
										<li><i class="fa fa-angle-right"></i> <a href="#">你看，这像不像你奶奶个腿</a></li>
									</ul>
								</div>
							</div>
							<!-- manufacturer end -->
							<!-- product tag start -->
							<div class="sidebar-widget mb-30">
								<div class="sidebar-title mb-10">
									<h3>添加标签</h3>
								</div>
								<div class="sidebar-widget-body">
									<div class="product-tag">
										<a href="#">照相机</a> <a href="#">计算机</a> <a href="#">手表</a> <a href="#">移动手机</a>
									</div>
								</div>
							</div>
							<!-- product tag end -->
						</div>
					</div>
					<!-- sidebar end -->
					<!-- product main wrap start -->
					<div class="col-lg-9 order-1 order-lg-2">
						<!-- product view wrapper area start -->
						<div class="shop-product-wrapper pt-34">
							<!-- product main wrap start -->
							<div class="col-lg-12 order-1 order-lg-2">
								<div class="wrap_2018_404" id="wrap_2018_404">
									<div class="content_2018_404">
										<h1>
											<img src="css/404.gif" alt="" />
										</h1>
										<a href="http://www.aspku.com/" class="tip">没有找到该商品哎！</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/min.js" type="text/javascript"></script>
	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->
	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->
	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Popper Min Js -->
	<script src="/js/popper.min.js" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>