<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" data-th-fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<header>
		<!-- header top start -->
		<div class="header-top-area bg-gray text-center text-md-left">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-5"></div>
					<div class="col-lg-6 col-md-7">
						<div class="header-top-right float-md-right float-none">
							<nav>
								<ul>
									<li id="loginbar" style="margin-right: 15px;">
										<a href="http://sso.view.solarcat.cn/login">请登录</a>
									</li>
									<li>
										<a href="http://sso.view.solarcat.cn/register">免费注册</a>
									</li>
									<li>
										<div class="dropdown header-top-dropdown">
											<a class="dropdown-toggle" id="myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												我的账户 <i class="fa fa-angle-down"></i>
											</a>
											<div class="dropdown-menu" aria-labelledby="myaccount">
												<a class="dropdown-item" href="#">我的优选</a>
												<a class="dropdown-item" href="#">我的订单</a>
												<a class="dropdown-item" href="#">我的积分</a>
												<a class="dropdown-item" href="#">我的收藏</a>
											</div>
										</div>
									</li>
									<li>
										<a href="#">我的愿望清单</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header top end -->

		<!-- header middle start -->
		<div class="header-middle-area pt-20 pb-20">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3">
						<div class="brand-logo">
							<a href="#"> </a>
						</div>
					</div>
					<!-- end logo area -->
					<div class="col-lg-9">
						<div class="header-middle-right">
							<div class="header-middle-shipping mb-20">
								<div class="single-block-shipping">
									<div class="shipping-icon">
										<i class="fa fa-clock-o"></i>
									</div>
									<div class="shipping-content">
										<h5>工作时间</h5>
										<span>周一 - 周日: 8.00 - 18.00</span>
									</div>
								</div>
								<!-- end single shipping -->
								<div class="single-block-shipping">
									<div class="shipping-icon">
										<i class="fa fa-truck"></i>
									</div>
									<div class="shipping-content">
										<h5>免费有底</h5>
										<span>单笔订单总额超过￥10</span>
									</div>
								</div>
								<!-- end single shipping -->
								<div class="single-block-shipping">
									<div class="shipping-icon">
										<i class="fa fa-money"></i>
									</div>
									<div class="shipping-content">
										<h5>100% 返钱活动</h5>
										<span>参与限时秒杀活动，即可领取现金红包</span>
									</div>
								</div>
								<!-- end single shipping -->
							</div>
							<div class="header-middle-block">
								<div class="header-middle-searchbox">
									<form action="http://search.view.solarcat.cn/search" id="searchForm" name="query" method="GET">
										<input type="text" class="text keyword ac_input" name="keyword" id="keyword" autocomplete="off" placeholder="搜索商品">
										<button class="search-btn">
										<i class="fa fa-search"></i>
										</button>
									</form>
								</div>
								<div class="header-mini-cart">
									<div class="mini-cart-btn">
										<i class="fa fa-shopping-cart"></i>
										<span class="cart-notification">2</span>
									</div>
									<div class="cart-total-price">
										<span>总计</span>
										$50.00
									</div>
									<ul class="cart-list">
										<li>
											<div class="cart-img">
												<a href="#">
													<img src="images/cart-1.jpg" alt="">
												</a>
											</div>
											<div class="cart-info">
												<h4>
													<a href="#">simple product 09</a>
												</h4>
												<span>$60.00</span>
											</div>
											<div class="del-icon">
												<i class="fa fa-times"></i>
											</div>
										</li>
										<li>
											<div class="cart-img">
												<a href="#">
													<img src="images/cart-2.jpg" alt="">
												</a>
											</div>
											<div class="cart-info">
												<h4>
													<a href="#">virtual product 10</a>
												</h4>
												<span>$50.00</span>
											</div>
											<div class="del-icon">
												<i class="fa fa-times"></i>
											</div>
										</li>
										<li class="mini-cart-price">
											<span class="subtotal">subtotal : </span>
											<span class="subtotal-price">$88.66</span>
										</li>
										<li class="checkout-btn">
											<a href="#">checkout</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header middle end -->
		<div th:replace="~{mainmenu :: mainmenu}"></div>
	</header>
</body>
</html>