<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="meta description">

<!-- Site title -->
<title>solarcat网上商城</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Plugins CSS -->
<link href="/css/plugins.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>

<body>

	<div class="wrapper">

		<!-- header area start -->
		<div th:insert="~{header :: header}"></div>
		<!-- header area end -->

		<!-- breadcrumb area start -->
		<div class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb-wrap">
							<nav aria-label="breadcrumb">
								<ul class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="http://view.solarcat.cn/index">首页</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">
										找到和“
										<span th:text="${query}"></span>
										”相关商品共
										<span th:text="${recordCount }"></span>
										件
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb area end -->

		<!-- page wrapper start -->
		<div class="page-main-wrapper">
			<div class="container">
				<div class="row">
					<!-- sidebar start -->
					<div class="col-lg-3 order-2 order-lg-1">
						<div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
							<!-- manufacturer start -->
							<div class="sidebar-widget mb-30">
								<div class="sidebar-title mb-10">
									<h3>通过分类继续查找</h3>
								</div>
								<div class="sidebar-widget-body">
									<ul>
										<li>
											<i class="fa fa-angle-right"></i>
											<a href="#">像极了爱情</a>
										</li>
										<li>
											<i class="fa fa-angle-right"></i>
											<a href="#">像灿烂的烟火</a>
										</li>
										<li>
											<i class="fa fa-angle-right"></i>
											<a href="#">嘣——的一声</a>
										</li>
										<li>
											<i class="fa fa-angle-right"></i>
											<a href="#">你的前女友就炸了</a>
										</li>
										<li>
											<i class="fa fa-angle-right"></i>
											<a href="#">你看，这像不像你奶奶个腿</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- manufacturer end -->

							<!-- product tag start -->
							<div class="sidebar-widget mb-30">
								<div class="sidebar-title mb-10">
									<h3>添加标签</h3>
								</div>
								<div class="sidebar-widget-body">
									<div class="product-tag">
										<a href="#">照相机</a>
										<a href="#">计算机</a>
										<a href="#">手表</a>
										<a href="#">移动手机</a>
									</div>
								</div>
							</div>
							<!-- product tag end -->

							<!-- sidebar banner start -->
							<div class="sidebar-widget mb-30">
								<div class="img-container fix img-full">
									<a href="#">
										<img src="assets/img/banner/banner_shop.jpg" alt="">
									</a>
								</div>
							</div>
							<!-- sidebar banner end -->
						</div>
					</div>
					<!-- sidebar end -->

					<!-- product main wrap start -->
					<div class="col-lg-9 order-1 order-lg-2">
						<!-- product view wrapper area start -->
						<div class="shop-product-wrapper pt-34">
							<!-- shop product top wrap start -->
							<div class="shop-top-bar">
								<div class="row">
									<div class="col-lg-5 col-md-6">
										<div class="top-bar-right">
											<div class="product-short">
												<p>假装排个序:</p>
												<select class="nice-select" name="sortby">
													<option value="trending">网站大部分功能都不好使</option>
													<option value="sales">别他妈的瞎按</option>
													<option value="sales">摁坏了奶奶个腿的赔钱</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- shop product top wrap start -->

							<!-- product item start -->
							<div class="shop-product-wrap grid row">
								<div class="col-lg-3 col-md-4 col-sm-6" th:each="item:${itemList}">
									<!-- product single grid item start -->
									<div class="product-item fix mb-30">
										<div class="product-thumb">
											<a href="product-details.html">
												<a th:href="'http://item.solarcat.cn/item/'+${item.id}">
													<img th:src="${item.images[0]}" class="img-pri" src="" alt="">
												</a>
											</a>
											<div class="product-label">
												<span>hot</span>
											</div>
											<div class="product-action-link">
												<a href="#" data-toggle="modal" data-target="#quick_view">
													<span data-toggle="tooltip" data-placement="left" title="查看">
														<i class="fa fa-search"></i>
													</span>
												</a>
												<a href="#" data-toggle="tooltip" data-placement="left" title="添加到愿望清单">
													<i class="fa fa-heart-o"></i>
												</a>
												<a href="#" data-toggle="tooltip" data-placement="left" title="刷新">
													<i class="fa fa-refresh"></i>
												</a>
												<a href="#" data-toggle="tooltip" data-placement="left" title="加入购物车">
													<i class="fa fa-shopping-cart"></i>
												</a>
											</div>
										</div>
										<div class="product-content">
											<h4>
												<a th:href="'http://item.solarcat.cn/item/'+${item.id}">
													<p th:utext="${item.title}"></p>
												</a>
											</h4>
											<div class="pricebox">
												<span class="regular-price">
													<fmt:formatNumber groupingUsed="false" maxFractionDigits="2" minFractionDigits="2" th:text="'￥'+${item.price/100}" />
												</span>
												<div class="ratings">
													<span class="good">
														<i class="fa fa-star"></i>
													</span>
													<span class="good">
														<i class="fa fa-star"></i>
													</span>
													<span class="good">
														<i class="fa fa-star"></i>
													</span>
													<span class="good">
														<i class="fa fa-star"></i>
													</span>
													<span>
														<i class="fa fa-star"></i>
													</span>
													<div class="pro-review">
														<span>1 review(s)</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- product single grid item end -->
									</div>
									<!-- product single column end -->
								</div>
								<!-- product item end -->
							</div>
							<!-- product view wrapper area end -->

							<!-- start pagination area -->
							<div class="paginatoin-area text-center pt-28">
								<div class="row">
									<div class="col-12">
										<ul class="pagination-box">
											<li>
												<a th:href="'http://search.view.solarcat.cn/search?keyword='+${query}+'&amp;page='+${page-1}">
													<i class="fa fa-angle-left"></i>
												</a>
											</li>
											<li>
												<a th:href="'http://search.view.solarcat.cn/search?keyword='+${query}+'&amp;page='+${page+1}">
													<i class="fa fa-angle-right"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end pagination area -->

						</div>
						<!-- product main wrap end -->
					</div>
				</div>
			</div>
			<!-- page wrapper end -->

		</div>

		<!-- Scroll to top start -->
		<div class="scroll-top not-visible">
			<i class="fa fa-angle-up"></i>
		</div>
		<!-- Scroll to Top End -->



		<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
		<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
		<!-- Jquery Min Js -->
    	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	    <!-- Popper Min Js -->
	    <script src="https://cdn.bootcss.com/popper.js/1.14.7/esm/popper.min.js"></script>
	    <!-- Bootstrap Min Js -->
	    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- Plugins Js-->
		<script src="/js/plugins.js" type="text/javascript"></script>
		<!-- Active Js -->
		<script src="/js/main.js" type="text/javascript"></script>
		<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
		<script src="layer/layer.js" th:src="@{/layer/layer.js}" type="text/javascript"></script>
		<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
	</div>
</body>

</html>
