<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<header th:fragment="mainmenu-phone">
		<!-- main menu area start -->
		<div class="main-header-wrapper bdr-bottom1">
			<div class="container">
				<div class="row">
					<div class="main-menu">
						<nav id="mobile-menu" style="display: block;">
							<ul>
								<li class="active">
									<a href="http://view.solarcat.cn/index">
										<i class="fa fa-home"></i>首页
									</a>
								</li>
								<li>
									<a href="#"> 秒杀 </a>
								</li>
								<li>
									<a href="#"> 优惠券 </a>
								</li>
								<li>
									<a href="#"> 闪购 </a>
								</li>
								<li>
									<a href="#"> 海囤全球 </a>
								</li>
								<li>
									<a href="#"> 拍卖 </a>
								</li>
								<li>
									<a href="#"> PLUS会员 </a>
								</li>
								<li>
									<a href="#">
										广而告之-我是个帅哥<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown">
										<li>
											<a href="#">这里买东西不花钱</a>
										</li>
										<li>
											<a href="#">前提是你能收到货</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-12 d-block d-lg-none">
				<div class="mobile-menu"></div>
			</div>
		</div>
		<div></div>
		<div></div>
		<!-- main menu area end -->
	</header>
</body>
</html>