
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title>solarcat网上商城</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-Awesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- helper class css -->
    <link href="/css/helper.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="/css/plugins.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <!-- header area start -->
        <div th:insert="~{header :: header}"></div>
        <!-- header area end -->

        <!-- 轮播图 -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-wrapper-area">
                        <div class="hero-slider-active hero__1 slick-dot-style hero-dot">
                            <div class="single-slider d-flex align-items-center" style="background-image: url(/images/slider3_bg1.jpg);">
		                        <div class="container">
		                            <div class="slider-main-content">
		                                <div class="slider-text">
		                                    <h2></h2>
		                                    <h1>只要你乖，给你买gai</h1>
		                                    <h1>你要不乖。头给你打歪</h1>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="single-slider d-flex align-items-center" style="background-image: url(/images/slider3_bg2.jpg);">
		                        <div class="container">
		                            <div class="slider-main-content">
		                                <div class="slider-text">
		                                <h1>无人信高洁，谁为表予心？</h1>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 轮播图 -->

        <!-- page wrapper start -->
        <div class="page-wrapper pt-6 pb-28 pb-md-6 pb-sm-6 pt-xs-36">
            <div class="container">
                <div class="row">
                    <!-- start home sidebar -->
                    <div class="col-lg-3">
                        <div class="home-sidebar">
                            <!-- testimonial area start -->
                            <div class="main-sidebar testimonial-area pb-sm-70">
                                <div class="section-title-2 mb-28">
                                    <h3>表白墙</h3>
                                </div> <!-- section title end -->
                                <div class="testimonial-carousel-active slick-dot-style">
                                    <div class="testimonial-item text-center">
                                        <div class="testimonial-thumb">
                                            <img src="/images/team_member1.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <h3><a href="#">肯不起</a></h3>
                                            <p>由近50名设计师、工程师、科学家（包括天体物理学家在内）、建筑师及其他专业人员组成的团队，耗时三个月，构思、创作并建造了这一世界上最大的标识。这就是由65000块1平方英尺的彩色瓷砖拼装而成的太空可视肯德基标识。受到全球消费者的欢迎。</p>
                                        </div>
                                    </div> <!-- end single testimonial item -->
                                    <div class="testimonial-item text-center">
                                        <div class="testimonial-thumb">
                                            <img src="/images/team_member2.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <h3><a href="#">麦当拿</a></h3>
                                            <p>麦当劳的黄金准则是“顾客至上，顾客永远第一”。提供服务的最高标准是质量（Quality）、服务（Service）、清洁（Cleanliness）和价值（Value），即QSC&V原则。这是最能体现麦当劳特色的重要原则。</p>
                                        </div>
                                    </div> <!-- end single testimonial item -->
                                    <div class="testimonial-item text-center">
                                        <div class="testimonial-thumb">
                                            <img src="/images/team_member3.jpg" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <h3><a href="#">买切糕</a></h3>
                                            <p>切糕是玛仁糖在新疆外地区民众在不知道名称的情况下根据贩卖时的特点所赋予的名称，是一种新疆维吾尔族民众采用传统特色工艺，选用核桃仁、玉米饴、葡萄干、葡萄汁、芝麻、玫瑰花、巴丹杏、枣等原料熬制而成的民族特色食品。</p>
                                        </div>
                                    </div> <!-- end single testimonial item -->
                                </div>
                            </div>
                            <!-- testimonial area end -->

                        </div>
                    </div>
                    <!-- end home sidebar -->
                    <div class="col-lg-9">

                        <!-- banner statistic start -->
                        <div class="banner-statistic pt-28 pb-30 pb-sm-0">
                            <div class="row">
                                <div class="col-lg-7 col-md-7">
                                    <div class="img-container fix img-full mb-sm-30">
                                        <a href="#">
                                            <img src="/images/banner_static2.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5">
                                    <div class="img-container fix img-full mb-sm-30">
                                        <a href="#">
                                            <img src="/images/banner_static3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- banner statistic end -->

                        <!-- category features area start -->
                        <div class="category-feature-area">
                            <div class="row">
                                <!-- New Products area start -->
                                <div class="col-lg-4">
                                    <div class="category-wrapper mb-md-24 mb-sm-24">
                                        <div class="section-title-2 d-flex justify-content-between mb-28">
                                            <h3>精品上新</h3>
                                            <div class="category-append"></div>
                                        </div> <!-- section title end -->
                                        <div class="category-carousel-active row" data-row="4">
                                            <div th:replace="~{new-pros :: new-pros}" th:with="${pros}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- New Products area end -->
                                <!-- Most viewed area start -->
                                <div class="col-lg-4">
                                    <div class="category-wrapper mb-md-24 mb-sm-24">
                                        <div class="section-title-2 d-flex justify-content-between mb-28">
                                            <h3>Most viewed</h3>
                                            <div class="category-append"></div>
                                        </div> <!-- section title end -->
                                        <div class="category-carousel-active row" data-row="4">
                                           <div th:replace="~{new-pros :: new-pros}" th:with="${pros}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Most viewed area end -->
                                <!-- Most viewed area start -->
                                <div class="col-lg-4">
                                    <div class="category-wrapper mb-md-24 mb-sm-24">
                                        <div class="section-title-2 d-flex justify-content-between mb-28">
                                            <h3>hot sale</h3>
                                            <div class="category-append"></div>
                                        </div> <!-- section title end -->
                                        <div class="category-carousel-active row" data-row="4">
                                        	<div th:replace="~{new-pros :: new-pros}" th:with="${pros}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Most viewed area end -->
                            </div>
                        </div>
                        <!-- category features area end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- page wrapper end -->

        <!-- brand area start -->
        <div th:insert="~{brand-area :: brand-area}"></div>
        <!-- brand area end -->

        <!-- footer area start -->
        <div th:insert="~{footer :: footer}"></div>
        <!-- footer area end -->

    </div>

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->

    <!-- Jquery Min Js -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper Min Js -->
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/esm/popper.min.js"></script>
    <!-- Bootstrap Min Js -->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Plugins Js-->
    <script src="/js/plugins.js"></script>
    <!-- Active Js -->
    <script src="/js/main.js"></script>
    <!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
    <script src="layer/layer.js" th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <script src="/js/solar_token.js"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>

</html>
