
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>js全国省市二级联动下拉选择菜单</title>
</head>
<body>
	<script language="javascript" src="/js/city.js"></script>
	<form action="" method="post" name="receive">
		<table>
			<tr>
				<td >收件人姓名:</td>
				<td ><input id="name" type="text" /></td>
			</tr>
			<tr>
				<td >收件人电话:</td>
				<td ><input id="name" type="text" /></td>
			</tr>
			<tr>
				<td >收件地址:</td>
				<td >
				省份：
					<select name="selectp" onchange="selectcityarea('selectp','selectc','receive');">
						<option value="0" selected="selected">选择省份</option>
				</select>
				县/市：<select name="selectc">
						<option value="0" selected="selected">选择城市</option>
				</select></td>
			</tr>
			<tr>
				<td >详细地址:</td>
				<td ><input id="name" type="text" /></td>
			</tr>
		</table>
	</form>
	<script language="javascript" type="">
		first("selectp","selectc","receive",0,0);
	</script>
</body>
</html>
