<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
<footer th:fragment="footer">

	<!-- footer main start -->
	<div class="footer-widget-area pt-40 pb-38 pb-sm-10">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="footer-widget mb-sm-30">
						<div class="widget-title mb-10 mb-sm-6">
							<h4>联系我们</h4>
						</div>
						<div class="widget-body">
							<ul class="location">
								<li>
									<i class="fa fa-envelope"></i>m18845636132@163.com
								</li>
								<li>
									<i class="fa fa-phone"></i>18845636132
								</li>
							</ul>
							<!-- 									<a class="map-btn" href="#">open in google map</a> -->
						</div>
					</div>
					<!-- single widget end -->
				</div>
				<!-- single widget column end -->
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget mb-sm-30">
						<div class="widget-title mb-10 mb-sm-6">
							<h4>购物指南</h4>
						</div>
						<div class="widget-body">
							<ul>
								<li>
									<a href="#">积分制度</a>
								</li>
								<li>
									<a href="#">会员介绍</a>
								</li>
								<li>
									<a href="#">购物流程</a>
								</li>
								<li>
									<a href="#">常见问题</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- single widget end -->
				</div>
				<!-- single widget column end -->
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget mb-sm-30">
						<div class="widget-title mb-10 mb-sm-6">
							<h4>配送服务</h4>
						</div>
						<div class="widget-body">
							<ul>
								<li>
									<a href="#">配送政策</a>
								</li>
								<li>
									<a href="#">开箱验货</a>
								</li>
								<li>
									<a href="#">配送运费</a>
								</li>
								<li>
									<a href="#">配送范围</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- single widget end -->
				</div>
				<!-- single widget column end -->
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget mb-sm-30">
						<div class="widget-title mb-10 mb-sm-6">
							<h4>支付方式</h4>
						</div>
						<div class="widget-body">
							<ul>
								<li>
									<a href="#">货到付款</a>
								</li>
								<li>
									<a href="#">在线支付</a>
								</li>
								<li>
									<a href="#">优选卡</a>
								</li>
								<li>
									<a href="#">发票制度</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- single widget end -->
				</div>
				<!-- single widget column end -->
				<div class="col-md-2 col-sm-6">
					<div class="footer-widget mb-sm-30">
						<div class="widget-title mb-10 mb-sm-6">
							<h4>售后服务</h4>
						</div>
						<div class="widget-body">
							<ul>
								<li>
									<a href="#">退款说明</a>
								</li>
								<li>
									<a href="#">退换货流程</a>
								</li>
								<li>
									<a href="#">退换货政策</a>
								</li>
								<li>
									<a href="#">隐私条款</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- single widget end -->
				</div>
				<!-- single widget column end -->
			</div>
		</div>
	</div>
	<!-- footer main end -->

	<!-- footer bootom start -->
	<div class="footer-bottom-area bg-gray pt-20 pb-20">
		<div class="container">
			<div class="footer-bottom-wrap">
				<div class="copyright-text">
					<p>
						Copyright (C) 2018
						<a href="http://www.solarcat.cn/">solarcat.cn</a>
						All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- footer bootom end -->

</footer>
<!-- footer area end -->
</body>
</html>