<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="list">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="myaccount-tab-menu nav" role="tablist">
	<a id="myinfo" class="active" data-toggle="tab"> <i class="fa fa-dashboard"></i> 帐户信息中心</a> 
	<a id="order" data-toggle="tab"> <i class="fa fa-cart-arrow-down"></i> 我的订单</a> 
	<a id="download" data-toggle="tab"><i class="fa fa-cloud-download"></i> 订单发票</a> 
	<a href="http://localhost:9005/payment" data-toggle="tab"><i class="fa fa-credit-card"></i> 我的钱包</a> 
	<a href="http://localhost:9005/address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> 我的地址</a> 
	<a href="http://localhost:9005/account-info" data-toggle="tab"><i class="fa fa-user"></i> 个人信息</a>
</div>
</html>