<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="user-header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<header data-th-fragment="header">
		<!-- header top start -->
		<div class="header-top-area bg-gray text-center text-md-left">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-5"></div>
					<div class="col-lg-4 col-md-10">
					<div class="header-middle-block">
								<div class="header-middle-searchbox">
									<form action="http://search.view.solarcat.cn/search" id="searchForm" name="query" method="GET">
										<input type="text" class="text keyword ac_input" name="keyword" id="keyword" autocomplete="off" placeholder="搜索商品">
										<button class="search-btn">
										<i class="fa fa-search"></i>
										</button>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header top end -->
	</header>
</body>
</html>