<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->
	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->
					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<h5>谨防假借京东名义的诈骗</h5>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>为保护用户的财产安全，做此专栏，供您参阅。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>一、《诈骗预防必备手册》</strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>1、 京东平台及平台商家不会存在订单卡单、无效等情况；京东客服人员不会通过私人手机号码、400电话或短信形式告知您订单异常，更不会引导您ATM转账、QQ提供退款链接等操作。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>2、 订单实际状态请您以“我的订单”页面的交易状态为准。 如需查看订单、取消订单请点击“我的订单”进行操作。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>3、 京东平台网址是www.jd.com ，京东平台所有页面网址均以连续的“.jd.com ”构成，如：***.jd.com**（如下图），尤其是域名中jd前后的分隔号“.”，无此分隔号的链接，均为钓鱼网站，请用户仔细辨别。</span></p>
									<p style="line-height: normal; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;</span><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t2569/146/1276551309/9426/df2ff384/569f5bc3N8e636a5a.jpg" /></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>4、 拒绝向陌生人转账、代付款项，不要在陌生链接中付款，不要接受陌生文件或随意扫描陌生二维码付款。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>5、 不要轻信咚咚、QQ、短信、邮件等传送的非法钓鱼链接，通过前述方式并以京东名义要求您点击链接操作退款、转账或者招聘代刷信誉等均属于诈骗活动。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>6、 任何一个验证码有可能和您的款项相关，请勿随意告知他人。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>7、 任何涉及款项、个人信息等相关操作请第一时间联系官方客服核实确认。&nbsp;</span></p>
									<p><br /></p>
									<p style="line-height: normal; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>二、 诈骗手段情景模拟</strong></span></p>
									<p style="line-height: normal; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;</span><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t2071/249/2137140527/40362/13a91400/569f5bcaNc21868ab.jpg" /></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>三、具体案例说明</strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 14px; font-family: 微软雅黑,Microsoft YaHei;'><strong>案例一 &nbsp;<span style='font-size: 14px; color: rgb(255, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>伪京东链接骗术</span></strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;&nbsp;&nbsp; 近日张先生接到一个自称“京东商城异常订单处理中心”的电话，电话号码显示：17858425857，自称“京东客服人员”的骗子告诉张先生，他在京东购买的订单商品无法发货了，需要给张先生退款，然后骗子加了张先生的QQ发送了名为“京东退款平台“的钓鱼网站：//jd.flanbz.com链接， 并告知张先生填写银行卡信息后才可以退款，张先生立即联系了京东客服400电话进行确认订单是否出现异常，得知订单并无异常后，张先生长叹一口气，幸好及时联系客服人员确认，否则后果不堪设想！</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>京东在此提醒您：京东退款不会向您提供链接，要求客户在链接页面中输入任何信息的，请您妥善保管自己的财产信息。</span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style="font-family: 宋体, SimSun; font-size: 14px;"><strong>案例二 <span
													style='font-size: 12px; color: rgb(255, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>伪京东客服外拨号码骗术</span></strong></span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;&nbsp;&nbsp; 前不久王女士接到一个自称“京东礼品中心”的电话，电话号码显示为400-606-5500；对方自称 “京东客服人员“，并称由于王女士一直支持京东，为了答谢王女士，京东会邮寄赠送一张八折卡，需要用户签收时支付运费。王女士回复骗子：“京东从来没有以你这个号码给我打过电话，京东官网快报都说了，不会用400电话外拨用户的，你这个骗子也太低级了吧！”</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>京东在此提醒您：遇到此情况可以立即联系京东客服来确认。</span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 14px; font-family: 微软雅黑,Microsoft YaHei;'><strong>案例三 <span style='font-size: 14px; color: rgb(255, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>微信骗术新花样</span></strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;&nbsp;&nbsp; 张女士通过微信朋友圈，查看到有“京东砍价拿0元手机”活动，点击进入后查看公众号显示为个人，非京东信息，此时张女士提高了警惕，并未继续操作，避免了损失。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>京东在此提醒您：您在打开以京东名义宣传的公众号，点击查看微信账户主体信息。如账户主体并非微信端认证的京东公众号，则该活动非京东商城活动。</span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='color: rgb(255, 0, 0); font-size: 14px; font-family: 微软雅黑,Microsoft YaHei;'>如让您填写身份证，姓名，联系方式等信息，还请您提高警惕。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 14px; font-family: 微软雅黑,Microsoft YaHei;'><strong><span style='color: rgb(0, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>案例四、</span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>刷单骗术新花样</span></strong>&nbsp;</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;&nbsp;&nbsp; 用户李女士通过QQ聊天认识了QQ名称为“***刷单群”</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>李女士加了此QQ号后，对方让其微信扫码前后支付了12笔游戏点卡订单；对方告诉李女士不用担心，刷单完成后会将所有已支付款连同返利一起退给客户，李女士如实操作，把刷单注册的京东账户和密码一起给了对方，提供后发现QQ消息发送不出去，骗子已经把李女士QQ拉入黑名单；用户李女士总计损失***元。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>京东在此提醒您：
												“刷单”是严重影响公平公正交易的行为，京东不存在也不允许任何形式的刷单,如遇相关机构或个人以刷单的名义让您付款，全部为诈骗行为。还请您提高警惕。</span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 14px; font-family: 微软雅黑,Microsoft YaHei;'><strong><span style='font-size: 14px; color: rgb(0, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>案例五、<span style='font-size: 14px; color: rgb(255, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>“</span></span><span
												style='font-size: 14px; color: rgb(255, 0, 0); font-family: 微软雅黑,Microsoft YaHei;'>代购”新骗术</span></strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp;&nbsp;&nbsp; 孙先生在QQ上结识一个“京东代购”的聊友，对方表示自己有“京东特殊券”可以在京东为其下单，比京东现价格更加优惠，孙先生同意骗子为其代购，骗子将下单后物流信息截图发送给孙先生，孙先生看到截图里订单收件信息是自己的，并且货物就快送货了就将款项支付宝转账给骗子；随后骗子转而拨打客服电话声称自己银行卡被盗刷了要求京东拦截取消订单。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px;'></span><span style='color: rgb(255, 0, 0); font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>京东在此提醒您： 代购、代付有风险，建议您注册京东账号或通过自有京东账号购买商品!</span></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>点卡防钓鱼</strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>诈骗流程介绍：</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>骗子在网络上发布招聘兼职人员代刷信誉的信息，例如“在家有电脑就能赚钱，日赚200-300”等，并留下QQ号或QQ群。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>受害人出于赚钱的目的加了骗子留下的QQ号，或者加入了QQ群（一般QQ群中都有很多托，表示通过这种方式赚到了钱）。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>骗子通过QQ与受害人联系，谎称自己是京东游戏点卡的卖家，只要受害人到自己在京东的店铺中购买一定数量的点卡，他就会将购卡费用+佣金一起打给受害人。买的越多佣金越多。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>受害人通过骗子直接或间接给出的京东商城游戏点卡产品的链接，登陆京东商城并且购买了指定的游戏点卡。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>骗子向受害人索要购买的游戏点卡的卡号和密码（一般此时有部分受害人已经意识到问题，并拒绝给出卡号和密码）。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>受害人将卡号密码给骗子并要求结账，骗子一般会以还没有买够数量要求受害人继续购买。至此，有部分受害人意识到被骗，但还有部分受害人直到买够了骗子要求的数量后，等骗子下线消失才意识到被骗，损失往往在数千元钱。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>骗子在获得卡号密码后第一时间就会将充值卡使用掉并且下线消失，更有的骗子用QQ远程控制受害人电脑，将聊天记录全部删除后再把受害人拉黑名单。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>点卡售出后要求退款京东的处理方式：</strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>由于虚拟产品的特殊性，一旦售出无论是否使用，都是无法进行退款处理的。</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'><strong>防受骗小知识：</strong></span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>用户在网上购物时，不要轻易添加任何陌生人的聊天好友。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>用户网购时一定要选择正规的网站，这样交易才有保障。
									</span></p>
									<p style="text-align: left; line-height: normal; text-indent: 0em; margin-top: 5px; margin-bottom: 10px;"><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&#8226;<span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 16px; white-space: pre;' class="Apple-tab-span"></span>切勿相信网页或聊天工具中弹出的代刷信誉赚钱的广告！京东明确禁止商家存在恶意刷量的行为，不允许商家炒作店铺信誉，一经发现，必将严惩不贷。
									</span></p>
									<p><span style='color: rgb(51, 51, 51); font-family: tahoma, arial, Hiragino Sans GB, 宋体 , sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);'>2016-10-18</span></p>
									<p><br /></p>
									<p><br /></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<!-- product details reviews end -->
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<!-- header area end -->
		<!-- footer area start -->
		<div th:insert="~{footer :: footer}"></div>
		<!-- footer area end -->
		<!-- Scroll to top start -->
		<div class="scroll-top not-visible">
			<i class="fa fa-angle-up"></i>
		</div>
		<!-- Scroll to Top End -->
		<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
		<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
		<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
		<!-- Bootstrap Min Js -->
		<script src="/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- Plugins Js-->
		<script src="/js/plugins.js" type="text/javascript"></script>
		<!-- Active Js -->
		<script src="/js/main.js" type="text/javascript"></script>
		<script src="/js/solar_token.js" type="text/javascript"></script>
		<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
	</div>
</body>
</html>