<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->

	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->

					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<div class="help-tit1 flk06">京东交易条款</div>
									<p style="margin-left: 24px;"><span style="font-family: 宋体; font-size: 12px;"></span></p>
									<div style="margin: 0px; padding: 10px 10px 10px 20px; color: rgb(102, 102, 102); line-height: 18px; font-family: Arial, Verdana, 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);" class="help_box">
										<div style="margin: 0px 0px 10px; padding: 10px; border: 1px solid rgb(229, 229, 229);" class="help_zybox">
											<p><span style=' font-size: 16px;'><strong><span style="color: rgb(0, 0, 0); font-size: 16px;">京东交易条款：</span></strong></span></p>
											<p><span style="color: rgb(0, 0, 0);">客户在接受商品订购与送货的同时，有义务遵守以下交易条款。您在京东下订单之前或接受京东送货之前，请您仔细阅读以下条款：</span></p>
											<p><span style="color: rgb(0, 0, 0);">1. 订购的商品价格以您下订单时京东网上价格为准。</span></p>
											<p><span style="color: rgb(0, 0, 0);">2. 请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，京东将不承担责任：</span></p>
											<p><span style="color: rgb(0, 0, 0);">&nbsp;A. 客户提供错误信息和不详细的地址；&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">B. 货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果；&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">C. 不可抗力，例如：自然灾害、交通戒严、突发战争等。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">3. 安全性：无论您是电话订购商品或是网络订购商品，我们会保证交易信息的安全，并由京东授权的员工处理您的订单。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">4. 隐私权：京东尊重您的隐私权，在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从网站上或电话中得到的所有客户信息仅用来处理您的相关订单。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">5. 免责：如因不可抗力或其它京东无法控制的原因使京东销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，京东会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">6. 客户监督：京东希望通过不懈努力，为客户提供最佳服务，京东在给客户提供服务的全过程中接受客户的监督。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0);">7. 争议处理：如果客户与京东之间发生任何争议，可依据当时双方所认定的协议及相关法律进行解决。</span></p>
										</div>
										<div style="margin: 0px 0px 10px; padding: 10px; border: 1px solid rgb(229, 229, 229);" class="help_zybox">
											<p><span style=' font-size: 16px;'><strong><span style='color: rgb(0, 0, 0);  font-size: 16px;'>特殊说明：</span></strong></span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">1. 京东所服务的客户为以终端消费为目的的个人、企业、事业单位及其他社会团体，不包括经销商，如发现经销商购物，京东将拒绝为其服务。由此产生的一切后果由经销商自行承担。</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">2.如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上（不含本数），因非因京东原因导致拒收京东配送的商品，京东将从相应的ID帐户里按每单扣除500个京豆做为运费补偿。</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">即一个用户一个月内，如果拒收次数超过一次，第一次拒收的订单不扣除京豆，第二次及以上拒收的订单，每单扣除500京豆；一个用户一年内，如果拒收次数超过三次，前三次拒收的订单不扣除京豆，（其中若存在一个月内有过1次以上的情况，按照以上规定操作）第四次及以上拒收的订单，每单扣除500京豆</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。</span></p>
											<p>&nbsp;</p>
										</div>
									</div>
									<div style="margin: 0px; padding: 10px 10px 10px 20px; color: rgb(102, 102, 102); line-height: 18px; font-family: Arial, Verdana, 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);" class="help_box">
										<div style="margin: 0px 0px 10px; padding: 10px; border: 1px solid rgb(229, 229, 229);" class="help_zybox">
											<p><span style='color: rgb(0, 0, 0);  font-size: 16px;'><strong>京东承诺：</strong></span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">1. 我们秉承质优价低、放心满意的销售理念为您服务。我们所出售的商品均为正品行货，与您亲临商场选购的商品一样享受相同的质量保证；含有质量保证书的商品按照保证书的承诺执行，其它商品按国家有关规定执行。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">2. 我们承诺在运输“保价费”上永久免费，在配送环节上承担保险费用，运输过程的风险一律由京东承担，客户收到货物如果有损坏、遗失等情形，只要当场提出声明，并进行相关举证，京东将按照正常售后退换货程序予以先行处理。&nbsp;</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">3. 我们承诺通过我司提供的网上支付平台支付，为客户承担全额手续费，但由于客户原因取消正常状态下的订单要求款项返还时（做京东帐户余额除外），则由客户承担相关手续费；货物打包不收取任何包装费。</span></p>
											<ul style="list-style-type: none;" class=" list-paddingleft-2">
												<li><p>&nbsp;</p></li>
											</ul>
										</div>
									</div>
									<div style="margin: 0px; padding: 10px 10px 10px 20px; color: rgb(102, 102, 102); line-height: 18px; font-family: Arial, Verdana, 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);" class="help_box">
										<div style="margin: 0px 0px 10px; padding: 10px; border: 1px solid rgb(229, 229, 229);" class="help_zybox">
											<p><span style='color: rgb(0, 0, 0);  font-size: 16px;'><strong>特别提示：</strong></span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">1. 如您购买的商品在规定时间内出现国家法律所规定的性能故障或商品质量问题，需要返修/退换货时，请您在我的京东提交<a href="//myjd.jd.com/repair/orderlist.action" target="_blank">返修/退换货申请</a>，申请单审核通过后，按照提示信息将物品以普通快递（请别使用到付）的方式寄回京东或卖家售后，相关的邮寄运费将以京东余额的形式返还到您的京东账户中。如未提交返修/退换货申请或未通过审核而将商品寄回，则京东或卖家有权拒绝您的相关申请。具体详情可参见售后政策中的<a href="//help.jd.com/user/issue/321-981.html" target="_blank">售后服务流程&gt;&gt;&nbsp;</a></span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">2. 我们保证出货时商品外包装的完好无缺。请您在收到货物时当场仔细检查发票及货品与送货单的商品是否一致，如果发现商品缺少或已破损等情况，请当场即配送人员还在现场时与我司客服部联系；如果发现邮寄包装破损，货物在运输途中破损等情况，请当场指出并拒收，拒收后请致电我司客服，如您已签收或他人代为签收，则视为商品外包装，商品数量及内容无误，我司将无法受理。电子类商品如手机、相机、笔记本<span style="font-family: 宋体;">等有原厂包装、标签的3C产品，可以打开原厂包装，但不能安装电池开机启动，<span style="font-family: 宋体;">不能通电、过水、插入卡槽。</span></span></span><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">请您在确认外观无损的情况下确认收货，如确认收货后，发现外观问题将无法办理。</span></p>
											<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun;">&nbsp;2018-06-13</span></p>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>


				</div>


			</div>
		</div>
		<!-- product details reviews end -->
	</div>
	<div></div>
	<div></div>
	<div></div>
	<!-- header area end -->

	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->

	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->

	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>