<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->
	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->
					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<h5>
										<a href="#京东购物流程" name="mark1"></a>京东购物流程
									</h5>
									<p><img alt="" src="//img30.360buyimg.com/pophelp/g10/M00/13/11/rBEQWVFlHpYIAAAAAACI4qKbEu4AAD0VAKcRBMAAIj6957.jpg" style="font-size: 16px;" /></p>
									<p>&nbsp;<span style='color: rgb(51, 51, 51); font-family: tahoma, arial, Hiragino Sans GB 宋体, sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);'>2016-01-26</span></p>
								</div>
								<div class="contxt">
									<h5><a href="#可以拨打客服热线订购商品吗？" name="mark2">如何购买下单？</a></h5>
									<p style="margin-left: 28px;"><span style="color: rgb(255, 0, 0);"><strong><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>下单操作步骤：</span></strong></span></p>
									<p style="margin-left: 28px;"><span style='color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>1.<span style='color: rgb(0, 0, 0); font-family:  Times New Roman; font-size: 9px;'>&nbsp;</span>浏览您要购买的商品，点击“加入购物车”，商品会自动添加到购物车里；
									</span></p>
									<p style="margin-left: 28px;"><span style='color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>2.<span style='color: rgb(0, 0, 0); font-family:  Times New Roman; font-size: 9px;'>&nbsp;</span>如果您需要更改商品数量，需在商品数量框中输入购买数量；（如下图）
									</span></p>
									<p style="text-indent: 2em;"><img src="//img30.360buyimg.com/pophelp/jfs/t1600/22/79126860/210347/86ef9fc6/55559e93Neeb7d93a.png" width="670" title="" alt="" /></p>
									<p style="margin-left: 28px;"><span style='color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>3.选好商品后点击“去结算”；（如下图）</span></p>
									<p style="text-indent: 2em;"><img src="//img30.360buyimg.com/pophelp/jfs/t499/111/1373199640/48946/d4550d3f/55559ef5N96f685d7.png" width="670" title="" alt="" /></p>
									<p style="margin-left: 28px;"><span style='color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>4.详细填写收货人信息、支付方式、发票信息，核对送货清单等信息；（如下图）</span></p>
									<p style="text-indent: 2em;"><img src="//img30.360buyimg.com/pophelp/jfs/t1585/224/74678807/78237/391603a/55559faeN41044e9e.png" width="670" title="" alt="" /></p>
									<p style="margin: 5px 0px 5px 28px;" class="MsoListParagraph"><span style='color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>5.确认无误后点击“提交订单”，生成新订单并显示订单编号；</span></p>
									<p><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>&nbsp; <span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">&nbsp;</span></span><span style='font-family: 微软雅黑,Microsoft YaHei;'><span style="color: rgb(0, 0, 0); font-size: 12px;">6.查看订单详细信息：可进入“我的京东”→“</span><span style="color: rgb(0, 0, 0); font-size: 12px;"><a href="//order.jd.com/center/list.action" target="_blank">订单中心</a>”查看。</span></span></p>
									<p><span style='background-color: rgb(245, 245, 245); color: rgb(0, 0, 0); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>2016-01-26</span></p>
								</div>
							</div>
							<div class="contxt">
								<h5><a href="#可以拨打客服热线订购商品吗？" name="mark3">可以拨打客服热线订购商品吗？</a></h5>
								<p><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>京东暂不提供电话订购服务，请您登陆<a href="//www.jd.com" target="_blank">京东</a>注册后自助下单。
								</span></p>
								<p><span style='font-family: 微软雅黑,Microsoft YaHei;'><span style="color: rgb(0, 0, 0); font-size: 12px;">若您不会自助下单，请点击查看</span><span style="color: rgb(0, 0, 0); font-size: 12px; text-decoration: none;"><a title="如何购买下单？" href="//help.jd.com/user/issue/34-18.html" target="_blank" textvalue="如何购买下单？">如何购买下单？</a></span></span></p>
								<p><span style='font-family: 微软雅黑,Microsoft YaHei;'><span style="color: rgb(0, 0, 0); font-size: 12px;">若您还没有京东账号，请点击<a href="https://reg.jd.com/reg/person?ReturnUrl=http%3A%2F%2Fwww.jd.com" target="_blank">注册</a></span><span style="color: rgb(0, 0, 0); font-size: 12px;"><span style="color: rgb(0, 0, 0); font-size: 12px;">，</span><span style="color: rgb(0, 0, 0); font-size: 12px; text-decoration: none;">详细操作步骤</span><span
											style="color: rgb(0, 0, 0); font-size: 12px;">如下：</span></span></span></p>
								<p><img alt="" src="//misc.360buyimg.com/help/misc/img/r1.png" width="750" /><a class="r1" href="#r2"></a></p>
								<p><a class="r2" href="#r1"><img src="//img30.360buyimg.com/pophelp/jfs/t3721/218/202515254/105270/bf85b5ee/5805c749Nac0e1ecc.png" title="" alt="" /></a><a class="r3" href="#r3"></a></p>
								<p><img alt="" src="//misc.360buyimg.com/help/misc/img/r3.png" width="750" /><a class="r4" href="#r2"></a><a class="r5" href="#r1"></a></p>
								<p><span style='color: rgb(51, 51, 51); font-family: tahoma, arial, Hiragino Sans GB , 宋体 , sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);'>2016-10-18</span></p>
								<!--main-part end-->
								<p><br /></p>
							</div>
						</div>
						<div class="contxt">
							<h5><a href="#购物车常见问题和购物技巧" name="mark4">购物车常见问题和购物技巧</h5>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q1:为什么购物车中显示有货，去结算时无货？</strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:1.可能您未设置商品详情页面或购物车右上角的“配送至地区”，如果“结算页面设置的地区”和“购物车中的配送至地区”不同，有些商品在本地区无货，但别的地区还有货，建议去结算前请先核对页面右上角的“配送至地区”，看是否有货；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">图一：购物车页面中的配送至地区</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><img style="font-family: 宋体, SimSun; font-size: 12px; white-space: normal;" title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t1534/228/32020472/19151/f8d043dd/5550261dN7c5052d3.png" width="670" /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">图二：订单结算页设置的地区</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t1591/289/39747932/59785/12a4d36b/5550416bNb095b41b.jpg" width="670" /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">2.<span style="font-family: 宋体, SimSun; font-size: 12px;">可能因为抢购（<span style="font-family: 宋体, SimSun; font-size: 12px;">特别是紧俏的商品</span>），
								</span>没有抢购到，若别的地区还有货，修改收货地区后，请尝试重新购买；&nbsp;<br /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">3.赠品在购物车中没显示库存信息，结算时赠品如果显示无货，可以回到购物车页中删除赠品后继续下单。</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q2:为什么加入购物车后，去结算时价格发生变化<strong style="white-space: normal;">?</strong></strong><br /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:因为商品在促销时可能优惠力度比较大，造成抢购数超过限购数量，或促销结束时间到了，所以可能会出现结算时价格变高或变低；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q3:如何向店铺咨询问题<strong style="white-space: normal;">?</strong></strong><br /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:购物车页中店铺名称右边有个咚咚入口，您可以点击“联系客服”与店铺客服交流；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t1213/184/871071723/12105/3014e972/5550436fNdb4e081b.png" /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q4:商品丢失，或无法加入购物车<strong style="white-space: normal;">?</strong></strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:1.已下柜商品会自动消失；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">2.购物车的主商品上限是70个，达到70个时将无法再加入，可以把暂时不需要购买的商品移到我的关注，待需要时再加入到购物车中；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">3.请在登陆状态下添加商品，以便保存到您的账号中，方便您跨终端（手机、平板电脑等）浏览和购物。</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q5:为什么结算时无法货到付款</strong><br /></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:您所勾选的商品可能因为配送地区或个别商品不支持货到付款，若出现该情况，请咨询店铺客服或选择支持货到付款的商品一起支付。</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q6:在结算页无法使用优惠券<strong style="white-space: normal;">?</strong></strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:提交去结算中的商品所属不同店铺，有些优惠券无法通用，建议您把需要购买的商品都选择是同一个店铺，一次提交一个店铺的商品去结算，该店铺下的店铺优惠券方可使用；有的品类券不支持别的品类商品，所以不能使用；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q7:库存状态显示为 “预订”的意思<strong style="white-space: normal;">?</strong></strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:预订表示库存暂时无货，但厂商会尽快生产和供应，客户可以预订，一旦有货就会马上发货；预订商品的到货时间请以页面显示为准或联系客服确认；</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q8:如何进行促销活动的凑单（如：满减、满赠、换购）<strong style="white-space: normal;">?</strong></strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:总价类促销活动多有 【去凑单】 的操作，凑单可以获得更多的实惠；如果某些商品在同一个店铺中都有，建议在同一店铺里购买，可能会节省运费和少接收快递的麻烦；可以点击店铺名称去店铺中找需要的商品。</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q9:页面响应慢或显示异常<strong style="white-space: normal;">?</strong></strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:浏览器的兼容性问题，可能会影响顺畅购物，本网推荐使用火狐、谷歌浏览器；<a href="//rj.baidu.com/soft/detail/11843.html?ald" target="_blank">去下载火狐浏览器</a>&nbsp;&nbsp;<a href="//rj.baidu.com/soft/detail/14744.html?ald" target="_blank">去下载谷歌浏览器</a>&nbsp;
							</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q10:为什么运费算了多份?</strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:您所勾选的商品可能不是同一个店铺的，或有些店铺没有包邮门槛，店铺配送的商品价格未达到门槛等都有可能，建议在同一个店铺里购买更多的东西，节省运费，减少收取快递的麻烦。</span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;"></span><span style="font-family: 宋体, SimSun; font-size: 12px;"></span><span style="font-family: 宋体, SimSun; font-size: 12px;"><strong>Q11:如何反馈意见或建议?</strong></span></p>
							<p><span style="font-family: 宋体, SimSun; font-size: 12px;">A:有意见或建议，欢迎<a href="//surveys.jd.com/index.php?r=survey/index/sid/162461/lang/zh-Hans" target="_blank">点击这里给我们提出</a> ，谢谢 ！
							</span></p>
							<p><br /></p>
							<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016-10-26</p>
							<p><br /></p>
							<p><br /></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- product details reviews end -->
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- header area end -->
	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->
	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->
	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>