<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->

	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->

					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<div class="help-tit1 flk06">违规订单处理规则</div>
									<p><span style='font-family: 微软雅黑,Microsoft YaHei; font-size: 14px;'></span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">为了维护以生活消费为目的的用户及平台销售商家（以下简称商家）的权益，若用户出现本规则中所述的违规订单情形，用户承诺其自愿接受京东或商家按照本规则进行处理。</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">一、违规订单的情形包括但不限于以下行为：</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">1.</span><span style="color: black">一人或多人合意使用一个或多个京东账号下单不支付、不完全支付或者选择延迟发货等方式违规占库存；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">2.</span><span style="color: black">商家刷单炒信或帮助商家刷单炒信的下单行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">3.</span><span style="color: black">商品或服务的供应商、代理商、销售商等对其所供货或销售的商品、服务进行回购的行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">4.</span><span style="color: black">代购、中间商、零售商或批发商等人员或群体、公司等，以再销售或商业使用为目的的订购行为；（企业用户、或与京东特殊销售渠道商签订合同的除外）</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">5.</span><span style="color: black">盗取他人京东账号、银行账号等信息、或盗取他人京东账号中的资产等的下单行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">6.</span><span style="color: black">出现威胁京东或商家系统安全的行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">7.</span><span style="color: black">出现违反用户注册协议中约定、京东平台规则规定的行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">8.</span><span style="color: black">使用软件注册的京东账号，或注册信息、订单详情中含任何虚假信息的京东账号，或者以任何非京东认可的方式（如：机器人软件、蜘蛛软件、爬虫软件、刷屏软件等）访问或登录京东商城网站进行包括但不仅限于如下行为：</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（1）领取、兑换优惠券；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（2）进行抽奖；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（3）领取京豆；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（4）购买商品；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（5）参与各类优惠活动；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">9.</span><span style="color: black">一人或多人合意使用一个或多个京东账号购买商品或服务等数量超过正常生活消费需求的订购行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">10.</span><span style="color: black">下单后拒不收货的行为，包含但不仅限于以下情形：</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（1）使用货到付款支付方式，同一用户的相同或不同京东账号累计出现3次以上无法联系到客户，或在付款前无正当理由拒收的；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">（2）收货人声称非本人订购的订单，京东判定为虚假下单或恶意代下单的情形；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">11.</span><span style="color: black">购买大批量商品，以资金紧张或其他理由要求分批送货；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">12.</span><span style="color: black">一人或多人合意使用一个或多个京东账号购买商品或服务等，要求更改收货地址、收货人的，单次或累计更改订单商品总数量大于等于50件，或30天内要求更改次数大于等于3次，或者要求转交其他承运商进行二次配送的；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">13.</span><span style="color: black">利用软件、技术手段、拆单或其他方式，为套取优惠、折扣、赠品、运费或其他利益而注册一个或多个京东账号、一人使用同一或多个京东账号，或合意他人使用同一或多个京东账号进行下单等行为；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">14.</span><span style="color: black">敲诈勒索商家，且商家可提供聊天记录或录音等证据；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">15.</span><span style="color: black">通过订单收货信息、订单备注、留言、评价等手段发送违规内容、广告或垃圾信息等；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">16.</span><span style="color: black">为获取不正当利益而利用京东网站、系统故障或缺陷或漏洞进行下单的行为。</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">二、若出现以上第一条中的任一情形，用户承诺自愿接受京东或商家对违规订单进行以下任一项或多项操作：</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">1.</span><span style="color: black">提交的订单系统不予通过；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">2.</span><span style="color: black">取消订单；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">3.</span><span style="color: black">不发货；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">4.</span><span style="color: black">对已出库、发货的订单进行拦截、追回；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">5.</span><span style="color: black">限制、降低京东会员权益，如：货到付款、下单购买商品等；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">6.</span><span style="color: black">扣除京豆；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">7.</span><span style="color: black">使用以上第一条中的形式获得的京豆、优惠券、赠品、E卡或者已经发放的实物奖品等，京东或商家有权回收、作废、或禁止、限制其使用；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">8.</span><span style="color: black">删除或屏蔽违规文字、图片或信息；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">9.</span><span style="color: black">暂停或停止服务；</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><span style="color: black">10.</span><span style="color: black">其他京东或商家认为有必要的管控措施。</span></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">三、注意事项</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">1.</span></strong><strong><span style="color: black">若出现本规则规定的违规订单情形，如订单系统不予通过、订单被取消、未按照既定时间发货、不发货等，将按照本规则进行处理，若京东平台其他规则与本规则规定不一致的，适用本规则规定。</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">2.</span></strong><strong><span style="color: black">若出现本规则中规定的违规订单情形，京东、商家将采取订单系统不予通过、取消订单、不予发货、不向客户提供商品或服务等措施，无任何赔付、补偿。</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">3.</span></strong><strong><span style="color: black">若因本规则中违规订单原因，订单被取消等，将按照平台规则中快速退款流程进行退款。</span></strong></p>
									<p style="text-align: left; text-indent: 32px; line-height: 21px; background: white"><strong><span style="color: black">4.</span></strong><strong><span style="color: black">如对订单取消、不发货等情形有疑问，可与京东、商家客服进行联系。</span></strong></p>
									<p style="text-indent: 27px"><span style="color: black">&nbsp;</span></p>
									<p><strong><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'></span></strong><br /></p>
									<p><strong><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2019-03-18</span></strong></p>
									<p><br /></p>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>

		</div>


	</div>


	<div></div>
	<div></div>
	<!-- product details reviews end -->
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- header area end -->

	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->

	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->

	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>