<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->
	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->
					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<h5><a href="#如何填写收货地址？" name="mark1">如何填写收货地址？</h5>
									<p><span style="line-height: 18px; font-family: 宋体; font-size: 12px;"><span style="color: rgb(0, 0, 0); line-height: 18px; font-family: 宋体, SimSun; font-size: 12px;">填写收货地址的操作步骤：</span></span></p>
									<p><span style="color: rgb(0, 0, 0); line-height: 150%; font-family: 宋体, SimSun; font-size: 12px;">步骤一：先登陆京东，点击京东首页右上角【<a href="//home.jd.com/" target="_blank">我的京东</a>】；(如下图)
									</span></p>
									<p><img src="//img30.360buyimg.com/pophelp/jfs/t1480/349/75621466/50397/a3c200fc/5555a3efNface3bbd.png" width="670" title="" alt="" /></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">步骤二：点击<span style="font-family: 宋体, SimSun; font-size: 12px;">【账户设置】</span>-【<a href="//easybuy.jd.com/address/getEasyBuyList.action" target="_blank">收货地址</a>】进入地址填写页面，然后点击【新增收货地址】即可输入您的收货地址。<span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;">(如下图)</span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><img src="//img30.360buyimg.com/pophelp/jfs/t1282/158/164967368/55551/83b564b5/5555a45cN8aaa4e1d.png" width="670" title="" alt="" style="white-space: normal; font-family: 宋体, SimSun; font-size: 12px;" /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><img src="//img30.360buyimg.com/pophelp/jfs/t1213/313/896969443/30364/f4b0a086/5555a4b3Nbd759c6d.png" width="670" title="" alt="" style="white-space: normal; text-indent: 28px;" /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><img src="//img30.360buyimg.com/pophelp/jfs/t1387/286/74502962/21268/6c6d043/5555a4d6N0ae067e5.png" width="670" title="" alt="" style="white-space: normal;" /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><span style='color: rgb(51, 51, 51); font-family: tahoma, arial, Hiragino Sans GB, 宋体 , sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);'>2016-01-26</span></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
									<p><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;"><span style="font-family: 宋体, SimSun; font-size: 12px; line-height: 18px;"><br /></span></span></p>
								</div>
							</div>
							<div class="contxt">
								<h5><a href="#如何查看购物车中的商品？" name="mark2">如何查看购物车中的商品？</h5>
								<p><span style="font-size: 12px; font-family: 宋体, SimSun;">将商品加入购物车后可在<a href="//www.jd.com" target="_blank">京东首页</a>，右上角点击【我的购物车】即可进入购物车查询、删除商品。（如下图）
								</span></p>
								<p><span style="font-size: 12px; font-family: 宋体, SimSun;"><img src="//img30.360buyimg.com/pophelp/jfs/t1060/317/876523882/22145/a9e32ed5/5555a5f4N9b34eda4.png" width="670" title="" alt="" style="white-space: normal; text-indent: 28px;" /></span></p>
								<p><br /></p>
								<p style="text-indent: 28px;"><span style="font-family: 宋体, SimSun; font-size: 12px;"><br /></span></p>
								<p style="text-indent: 28px;"><span style="font-size: 12px; font-family: 宋体, SimSun;">&nbsp;<span style='color: rgb(51, 51, 51); font-family: tahoma, arial, Hiragino Sans GB, 宋体 , sans-serif; font-size: 14px; background-color: rgb(245, 245, 245);'>2016-01-26</span></span></p>
								<p><br /></p>
							</div>
						</div>
						<div class="contxt">
							<h5><a href="#为什么收货地址里面没有我的地区所在的街道？" name="mark3">为什么收货地址里面没有我的地区所在的街道？</h5>
							<p><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>为减少您的困扰，提升购物体验，我们将街道进行合并到“城区”里，若“街道”无法选择，请您直接选择“城区”下单。</span></p>
							<p><span style='font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>温馨提示：如您无法选择对应地址提交订单，请您咨询身边的朋友或者家人等，请勿随意选择一个相近地址，以免配送区域选择有误，导致后续无法给您进行配送，感谢您的支持和理解。</span></p>
							<p><span style='color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); font-size: 12px; font-family: 微软雅黑,Microsoft YaHei;'>2016-01-26&nbsp;</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- product details reviews end -->
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- header area end -->
	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->
	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->
	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>