<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<!-- Site title -->
<title>帮助中心-solarcat</title>
<!-- Favicon -->
<link rel="shortcut icon" href="/images/solar.ico" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="/css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="/css/helper.min.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<!-- header area start -->
	<div th:insert="~{help-header :: help-header}"></div>
	<!-- header area end -->
	<!-- page wrapper start -->
	<div class="page-main-wrapper">
		<div class="container">
			<div class="row">
				<!-- sidebar start -->
				<div class="col-lg-3">
					<div th:insert="~{wrapper :: wrapper}"></div>
				</div>
				<div class="col-lg-9">
					<!-- breadcrumb area start -->
					<div class="breadcrumb-area">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="breadcrumb-wrap">
										<nav aria-label="breadcrumb">
											<ul class="breadcrumb">
												<li class="breadcrumb-item"><a href="index">帮助中心</a></li>
												<li class="breadcrumb-item active" aria-current="page"><a href="list-1">购物指南</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb area end -->
					<!-- product details reviews start -->
					<div class="product-details-reviews mt-34">
						<div class="row">
							<div class="col-lg-12">
								<div class="contxt">
									<h5><a href="#如何查找想要的商品？" name="mark1">如何查找想要的商品？</a></h5>
									<p><strong><span style="font-family: 宋体, SimSun; font-size: 12px;">（一）通过商品品类查询商品</span></strong><span style="font-family: 宋体, SimSun; font-size: 12px;">：例如，我需要购买魅族手机MX4 移动4G 灰色版本</span></p>
									<p style="text-align: left;" dir="ltr"><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">步骤一：将鼠标移到京东首页【全部商品分类】→【手机、数码、京东通讯】→【手机通讯】→【手机】点击鼠标左键；</span></p>
									<p style="text-align: left;" dir="ltr"><img style="text-indent: 2em;" title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t841/16/886028927/81792/818d8b3c/5555a220Ndc5388cf.png" width="670" /></p>
									<p><span style="font-size: 12px;"><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">步骤二和步骤三：在手机筛选页面的【品牌】选项中，找到【魅族】LOGO并单击鼠标，然后再选中【网络】中的【移动4G】、在【机身颜色】中选择【灰色】即可；</span></span><img style="text-indent: 2em;" title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t964/284/884542134/80848/b9ee6fdb/5555a26eNeddfc380.png" width="670" /></p>
									<p><span style="text-indent: 2em;"><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t1357/3/81043292/32792/4503983c/5555a2e5Nbdde89f8.png" width="670" />&nbsp;</span></p>
									<p><span style="font-family: 宋体; font-size: 12px;"><span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; font-size: 12px;">步骤四：根据筛选结果选择所需要的手机。</span></span></p>
									<p style="text-indent: 2em;"><span style="line-height: 150%; font-family: Calibri, sans-serif; font-size: 12px;"><img title="" alt="" src="//img30.360buyimg.com/pophelp/jfs/t1267/326/907591768/200285/ad8584ca/5555a31dN9475f711.png" width="670" /></span></p>
									<p><strong><span style="font-size: 12px;">（二）通过搜过关键词</span></strong></p>
									<p><span style="font-size: 12px;">例如，需要购买魅族手机MX5，可以在搜索框直接搜索该商品或者该商品关键字。“魅族”“魅族MX5”“MX5”</span></p>
									<p><strong><span style="font-size: 12px;">（三）通过商品编号查询</span></strong></p>
									<p><span style="font-size: 12px;">可以直接在搜索栏输入商品编号，精确查找到商品。</span></p>
									<p><span style="font-size: 12px;"><br /></span></p>
									<p><span style="font-size: 12px;">2016-10-26</span></p>
								</div>
							</div>
							<div class="contxt">
								<h5><a href="#预售商品可以同时购买多件吗？" name="mark2">预售商品可以同时购买多件吗？</a></h5>
								<p><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>您好，预售商品只支持一个订单购买一种预售商品，但同一个商品编号的商品可购买多件或多次购买。</span></p>
								<p><strong><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>注：</span></strong><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>预售商品定金阶段“加入购物车”按钮的改为“支付定金”。</span></p>
								<p><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'><br /></span></p>
								<p><span style='font-family: 微软雅黑, Microsoft YaHei; font-size: 14px;'>2017-04-13</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- product details reviews end -->
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<!-- header area end -->
	<!-- footer area start -->
	<div th:insert="~{footer :: footer}"></div>
	<!-- footer area end -->
	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->
	<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
	<script src="/js/modernizr-3.6.0.min.js" type="text/javascript"></script>
	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="/js/plugins.js" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/solar_token.js" type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
</body>
</html>