<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" data-th-fragment="wrapper">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<div class="shop-sidebar-wrap mt-md-28 mt-sm-28 pt-20 pb-20" data-th-fragment="wrapper">
		<!-- manufacturer start -->
		<div class="sidebar-widget mb-30">
			<div class="sidebar-title mb-10">
				<h3>常见问题分类</h3>
			</div>
			<div class="sidebar-widget-body">
				<ul>
					<li><i class="fa fa-angle-right"></i> <a href="list-1">购物指南</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-2">订单百事通</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-3">配送方式</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-4">支付问题</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-5">发票问题</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-6">售后服务</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-7">账号及会员</a></li>
					<li><i class="fa fa-angle-right"></i> <a href="list-8">特色服务</a></li>
				</ul>
			</div>
		</div>
		<!-- manufacturer end -->
	</div>
</body>
</html>