<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="meta description">

<title>欢迎登陆-solarcat</title>
<link rel="icon" href="images/solar.ico">
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Font-Awesome CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- helper class css -->
<link href="css/helper.min.css" rel="stylesheet">
<!-- Plugins CSS -->
<link href="css/plugins.css" rel="stylesheet">
<!-- Main Style CSS -->
<link href="css/style.css" rel="stylesheet">
<link href="css/skin-default.css" rel="stylesheet" id="galio-skin">
</head>

<body>

<!-- 	<div th:insert="~{header :: header}"></div> -->
	<div class="wrapper box-layout">

		<!-- breadcrumb area start -->
		<div class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb-wrap">
							<nav aria-label="breadcrumb">
								<ul class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="http://view.solarcat.cn/index">首页</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">登陆-注册页</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb area end -->

		<!-- login register wrapper start -->
		<div class="login-register-wrapper">
			<div class="container">
				<div class="member-area-from-wrap">
					<div class="row">
						<!-- Register Content Start -->
						<div class="col-lg-6">
							<div class="login-reg-form-wrap mt-md-34 mt-sm-34">
								<h2>注册</h2>
								<form id="regForm_mod" >
									<div class="single-input-item">
										<input id="regName" name="username" type="text" placeholder="请输入您的账号名" required="">
									</div>
									<div class="single-input-item">
										<input id="phone" name="phone" type="phone" placeholder="请输入您的手机号" required="">
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="single-input-item">
												<input id="pwd" name="password" type="password" placeholder="请输入您的密码" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="single-input-item">
												<input id="pwdRepeat" name="password" type="password" placeholder="请再次输入您的密码" required="">
											</div>
										</div>
									</div>
									<div class="single-input-item">
										<div class="login-reg-form-meta">
											<div class="remember-meta">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="subnewsletter"> <label class="custom-control-label" for="subnewsletter"><a href="#" target="_blank" class="checkTitle">我已阅读并同意<font style="font-size: 12px;">《solarcat用户注册协议》</font></a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="single-input-item">
										<div class="sqr-btn" id="register_sub" onclick="REGISTER.reg()">注册</div>
									</div>
								</from>
							</div>
						</div>
						<!-- Register Content End -->
					</div>
				</div>
			</div>
		</div>
		<!-- login register wrapper end -->

		<!-- brand area start -->

		<!-- brand area end -->
		<!-- footer area start -->
		<div th:insert="~{footer :: footer}"></div>
		<!-- footer area end -->
	</div>

	<!-- Scroll to top start -->
	<div class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->


	<!--All jQuery, Third Party Plugins Activation (main.js) Files-->
	<script src="js/modernizr-3.6.0.min.js" th:src="@{/js/modernizr-3.6.0.min.js}" type="text/javascript"></script>
	<!-- Jquery Min Js -->
	<script src="js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
	<!-- Popper Min Js -->
	<script src="js/popper.min.js" th:src="@{/js/popper.min.js}"type="text/javascript"></script>
	<!-- Bootstrap Min Js -->
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"type="text/javascript"></script>
	<!-- Plugins Js-->
	<script src="js/plugins.js" th:src="@{/js/plugins.js}" type="text/javascript"></script>
	<!-- Active Js -->
	<script src="js/main.js" th:src="@{/js/main.js}"type="text/javascript"></script>
	
	<script src="layer/layer.js" th:src="@{/layer/layer.js}"type="text/javascript"></script>
	<!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
	<script type="text/javascript">
	var REGISTER={
			param:{
				//单点登录系统的url
				surl:""
			},
			inputcheck:function(){
				var flag = true;
				//不能为空检查
				if ($("#regName").val() == "") {
					flag = false;
				}
				if ($("#pwd").val() == "") {
					flag = false;
				}
				if ($("#phone").val() == "") {
					flag = false;
				}
				//密码检查
				if ($("#pwd").val() != $("#pwdRepeat").val()) {
					flag = false;
				}
				return flag;
			},
			beforeSubmit:function() {
				//检查用户是否已经被占用
				$.ajax({
					url : REGISTER.param.surl + "/user/check/"+escape($("#regName").val())+"/1?r=" + Math.random(),
					success : function(data) {
						if (data.data) {
							//检查手机号是否存在
							$.ajax({
								url : REGISTER.param.surl + "/user/check/"+$("#phone").val()+"/2?r=" + Math.random(),
								success : function(data) {
									if (data.data) {
										REGISTER.doSubmit();
									} else {
										layer.alert('该手机号已注册！',{icon: 2});
									}
								}
							});
						} else {
							layer.alert('该用户名已注册！',{icon: 2});
						}	
					}
				});

			},
			doSubmit:function() {
				$.post("/user/register",$("#regForm_mod").serialize(), function(data){
					if(data.status == 200){
						layer.alert('用户注册成功，请登录！',{icon: 1}, function(){
							REGISTER.login();
						});
					} else {
						layer.alert("注册失败！",{icon: 2});
					}
				});
			},
			login:function() {
				location.href = "/login.html";
				return false;
			},
			reg:function() {
				if (this.inputcheck()) {
					this.beforeSubmit();
				}
			}
	};
	</script>
	

</body>

</html>